body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0eb; /* #f0f0f0;  474f6a*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
}


img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 00 10px rgba(0,0,0,0.1);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

h2 {
    color: #444;
    margin-top: 20px;
}

p {
    color: #666;
    line-height: 1.6;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
